$height-calendar: 50px;

.calendar
{
    display: flex;
    width: 90%;
}

.calendar__button
{
    font-weight: bold;
    height: $height-calendar;
    padding-left: 5px;
    padding-right: 5px;
    width: 50px;
}

.dates
{
    align-self: center;
    display: inline-block;
    width: calc(100% - 120px);
}

.dates .uk-table { display: flex; }

.dates-overflow--hidden{ overflow: hidden; }

.dates__item
{
    height: $height-calendar;
    white-space: nowrap;
}

.dates__item--first,
.dates__item--end
{
    display: block;
    width: 1000px;
    max-width: 1000px;
}

.dates__item--selected{ background: $global-primary-background;}

.dates__link--selected { color: #FFF; }

.date__link
{
    display: block;
    width: 80px;
}

td.dates__item { vertical-align: middle; }
